/** @format */

.btn {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: var(--color-bg);
  color: var(--color-text);
  border: none;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  transition: 0.5s all;

  &:disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.05;
    background-color: var(--color-secondary);
    color: var(--color-primary);
  }

  &-text {
    display: block;
  }

  &-icon {
    margin-right: 5px;
    width: 12px;
    height: 12px;
  }

  &_default {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-weight: 500;

    svg {
      width: 6px;
      height: 6px;
    }

    &:hover {
      background-color: var(--color-text);
      color: var(--color-bg);
    }
  }

  &_default2 {
    background-color: #fff;
    color: var(--color-secondary);

    &:hover {
      color: var(--color-text);
      background-color: var(--color-bg);
    }
  }

  &_primary {
    color: var(--color-secondary);
    background-color: var(--color-primary);

    &:hover {
      background-color: var(--color-secondary);
      color: var(--color-primary);
    }
  }

  &_secondary {
    background-color: var(--color-secondary);
    color: var(--color-primary);
  }
}
